    body {
        font-family: "Inter", sans-serif;
        margin: auto;
        background-color: rgb(128, 128, 255);
    }
    
    .container {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin-top: 15px;
        height: 700px;
        border-radius: 10px;
        text-align: center;
        background-color: #fff;
        border: 1px solid blue;
    }
    
    .what {
        margin-top: 15px;
        font-size: x-large;
        color: rgb(128, 128, 255);
    }
    
    .search-n-btn {
        margin-top: 15px;
        display: flex;
        gap: 5px;
        justify-content: center;
    }
    
    .searchbarInput {
        height: 40px;
        width: 90%;
        border-color: rgb(128, 128, 255);
        outline-style: none;
        border-radius: 3px;
    }
    
    .btn {
        color: #fff;
        background-color: rgb(128, 128, 255);
    }
    
    .btn:hover {
        color: #fff;
        background-color: blue;
    }
    
    .listContainer {
        text-align: center;
        margin: auto;
        margin-top: 50px;
        background-color: rgb(128, 128, 255);
        border-radius: 5px;
        padding: 15px;
    }
    
    .searchbarList a {
        color: #fff;
        font-size: xx-large;
    }
    
    .searchbarList a:hover {
        font-size: xx-large;
        color: blue;
        text-decoration: none;
        background-color: rgba(128, 128, 255, 0.148);
    }
    
    #loader {
        margin-top: 20px;
    }
    
    .footer {
        font-size: medium;
        text-align: center;
        color: #fff;
    }